.beds {

  &-input {

    &-hospital {
      margin-bottom: 1rem;
    }

    &-control {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 6rem;
        flex: 0 1 6rem;
        min-width: 0;
        text-align: center;
      }

      > *:not(:last-child) {
        margin-right: 0.5rem;
      }

      @media (max-width: 450px) {

        .button.is-medium, input.is-large {
          font-size: 1rem;
        }

        > *:not(:last-child) {
          margin-right: 0.2rem;
        }
      }
    }
  }
}
