.container {

  &.main-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.progress {

  &.main-progress {
    margin-top: 2rem;
  }
}

.navbar-logo {
  margin: 1rem 1rem 1rem 0.75rem;
}

@media (max-width: 450px) {

  .title.is-1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 1023px) {

  .container {
    padding: 0 10px;
  }

  .navbar-logo {
    margin: 0.3rem 0 0 0.5rem;
    height: 40px;
  }
}
